.triangle_right {
    position: absolute;
    top: 5px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid rgb(245, 158, 11);
    border-bottom: 5px solid transparent;
}
